
.App {
  display:flex;
  flex:1;
  flex-direction: column;
  background-color: aqua;

  overflow: 'hidden';
  box-shadow: '0 0 10px rgba(0, 0, 0, 0.1)';
  position: 'relative';
  width: '400px';
  height: '500px';
  border: '1px solid #ccc';
  border-radius: '8px';
}
.chat{
  display: flex;
  flex-direction: column;
  background-color: blue;
  height:80% ;
}
.suggestion{
  display: flex;
  flex:1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height:64px;

}

.suggestionBox{
  background-color: rgb(193, 249, 230);
  margin: 5px;
  border-radius: 20px;
  padding: 17px;
  
}
.action{
  display:flex;
  justify-content: center;
  align-items: center;

}
input{
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}
.submit{
  border-radius: 20px;
  padding :10px;
  background-color: rgb(21, 111, 111);
  margin: 10px;
  color: whitesmoke;
}
.groupButton{
  display: flex;
  align-items: center;
  justify-content: center;
}

.groupButton button{
  padding:10px;
  background-color: rgb(21, 111, 111);
  padding-left: 40px;
  padding-right: 40px;
  

}
.fixedContainer{
  display: 'flex';
  padding: '10px';
  /* border-Top: '1px solid #ccc'; */
  /* background-Color: '#fff'; */
  /* position: 'absolute'; */
  /* bottom: 0; */
  /* width: '100%'; */
  
}
.chatContainer{
  display: flex;
  flex-Direction: 'column';
  /* width: '400px'; */
  /* height: '500px'; */
  /* border: '1px solid #ccc'; */
  /* border-Radius: '8px'; */
  /* overflow: 'hidden'; */
  /* box-Shadow: '0 0 10px rgba(0, 0, 0, 0.1)'; */
  min-height: 77vh;
  margin-left: 76px;
    margin-right: 76px;
    justify-content: center;
}
.chatInside{
  display: flex;
  flex-direction: column;
  min-width: 500px;
  margin-top: 56px;
  overflow-y: scroll;
  height: 483px;
}